name: Build & Publish Documentation

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-uv
      - uses: ./.github/actions/install-amici-deps
      - uses: ./.github/actions/install-project-deps
      - name: Build documentation
        run: |
          cd docs
          uv run make html
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: html-docs
          path: docs/build/html/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
